*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    width: 114px;
    height: 50px;
}

.logo {
    background-image: url("images/download.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.add-first{
    font-size: 0.75rem;
    color: #CCCCCC;
    margin-left: 31px;
}

.add-second{
    font-size: 0.875rem;
    color: #FFFFFF;
}

.country{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.nav-address {
    padding-top: 10px;
    width: 95px;
    height: 40px;
}

.nav-search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 720px;
    border-radius: 5px;
    background-color: yellow;
}

.nav-search input{
    outline: none;
}

.options{
    height: 100%;
    width: 51px;
    background-color: #F3F3F3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 0px;
}

.search-bar{
    height: 100%;
    width: 620px;
    border-radius: 0px;
    border-width: 0px;
    font-size: 1rem;
    padding-left: 5px;
}

.search-icon{
    height: 100%;
    width: 44px;
    background-color: rgb(133, 133, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover{
    border: 2px solid yellow;
}

.language{
    width: 114px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lang-options{
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: none;
    width: 40px;
}

.sign-in{
    width: 135px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sign-in-1 {
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 2px;   
}

.sing-in-2{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

.orders {
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    gap: 5px;
}

.cart-icon i {
    font-size: 35px; 
}

.cart-p{
    font-weight: bold;
    font-size: 14px;
}

/**Panels**/
.panel {
    background-color: #232F3E;
    height: 40px;
    display: flex;
    font-size: 0.9rem;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-options {
    display: flex;
    gap: 10px;
    width: 75%;
    height: 35px;
}

.option1 {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option2 {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option3 {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option4 {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.option5 {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 40px;
    height: 35px;

}

.div-electronic p{
    font-size: 0.9rem;
    font-weight: bold;
    height: 35px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**Hero Section**/
.hero-section {
    background-image: url("images/71WanO2aWEL._SX3000_.jpg");
    background-size: cover;
    height: 360px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 0.85rem;
    color: black;
    background-color: white;
    width: 95%;
    margin-bottom: 25px;
}

.hero-message a{
    color: #007185;
    text-decoration: none;
}

/**Boxes**/
.box {
    margin-top: 10px;
    height: 400px;
    background-color: white;
    width: 22%;
    font-size: 21px;
    padding: 20px 0px 15px;
    margin-bottom: 10px;
}
.box img {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 300px; 
    background-size: cover;
}
.box a{
    text-decoration: none;
    font-size: 14px;
}

.products-boxes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-image: linear-gradient(#FDE0E6, #E6E6E6);
    flex-wrap: wrap;
}

.box-content {
    margin-left: 15px;
    margin-right: 15px;
}

.footer{
    margin-top: 25px;
}
.First {
    background-color: #37475a;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.unorder-lists {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 350px;
    background-color: #232F3E;
}

.list-1 {
    margin-top: 40px;
    height: 230px;
}
.list-1 h3 {
    font-size: 16px;
    margin: 6px 0px 14px;
}

.list-1 ul {
    list-style-type: none;
}

ul a {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #DDDDDD;
}

.list-1 h3 {
    color: white;
}
.list-1 a:hover {
    text-decoration: underline;
}

.function {
    background-color: #232F3E;
    border-top: 1px solid #848688;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: white;
    margin: 0px;
}

.functions-border {
    border: 1px solid #848688;
    border-radius: 10px;
}

.language {
    height: 40px;
}

.usd {
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller-country {
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.final-footer {
    background-color: #131A22;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px; 
}

.final-footer li {
    list-style-type: none;
}

.final-footer h3 {
    margin-bottom: 2px;
    font-size: 12px;
    color: #dddddd;
}

.List {
    margin-top: 20px;
    width: 100px;    
}

.List h3:hover, 
.List h3:hover + ul li a {
    text-decoration: underline;
}

.final-footer a {
    font-size: 12px;
    color: #999999;
}

.final-footer-half {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.terms-services {
    background-color: #131A22;
    height: 80px;
    text-align: center;    
}

.terms a {
    color: #dddddd;
    text-decoration: none;
    font-size: 12px;
    padding-left: 15px;
}

.terms a:hover {
    text-decoration: underline;
}

.terms-services p {
    color: #dddddd;
    margin-top: 4px;
    font-size: 12px;
}